body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1, h2, h3 {
    text-align: center;
}

form {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
}

label, select, input {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 8px;
}

.tabela-container {
    overflow-x: auto; /* Faz a tabela rolar horizontalmente em telas pequenas */
    margin: 0 auto;
    max-width: 90%;
}

table {
    width: 100%;
    border-collapse: collapse;
    min-width: 500px;
}

th, td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #f4f4f4;
}

@media (max-width: 600px) {
    label, select, input {
        font-size: 14px;
        padding: 6px;
    }
}
